<!DOCTYPE html>
<html
  prefix="
    rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
    rdfs: http://www.w3.org/2000/01/rdf-schema#
    owl: http://www.w3.org/2002/07/owl#
    xsd: http://www.w3.org/2001/XMLSchema#
    ontolex: http://www.w3.org/ns/lemon/ontolex#
    synsem: http://www.w3.org/ns/lemon/synsem#
    decomp: http://www.w3.org/ns/lemon/decomp#
    vartrans: http://www.w3.org/ns/lemon/vartrans#
    lime: http://www.w3.org/ns/lemon/lime#"
  <head>
    <meta charset="utf-8" />
    <title>$title$</title>
    <script
      src="https://www.w3.org/Tools/respec/respec-w3c"
      class="remove"
      defer
    ></script>
    <script class="remove">
      // All config options at https://respec.org/docs/
      var respecConfig = {
        specStatus: "CG-DRAFT",
        editors: [
$for(editor)$
    {
"name": 
"$editor.name$", 
"company": 
"$editor.company$", 
"companyURL": 
"$editor.companyURL$"},
$endfor$
        ],
        authors: [
$for(author)$
    {
"name": 
"$author.name$", 
"company": 
"$author.company$", 
"companyURL": 
"$author.companyURL$"},
$endfor$
        ],
        github: "ontolex/frequency-attestation-corpus-information",
        shortName: "FrAC",
        group: "ontolex",
        latestVersion: "https://ontolex.github.io/frequency-attestation-corpus-information/"
      };
    </script>
    <style>
.entity {
     border: 1px solid #000080;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
     padding: 10px;
     margin-bottom: 10px;
 }
.entity > p:first-child {
     margin-top: 3px;
     padding-bottom: 5px;
     border-bottom: 1px solid #000080;
     font-size: 120%;
     color: var(--heading-text);
     page-break-after: avoid;
     page-break-inside: avoid;
     line-height: 1.2;        /* Keep wrapped headings compact */
     hyphens: manual;         /* Hyphenated headings look weird */
 }
 .description {
     border-top: 1px dashed #808080;
     margin-top: 5px;
     padding-bottom: 5px;
 }

 class::after {
     content: " (Class)";
 }
 
 objectProperty::after {
     content: " (Object Property)";
 }

 datatypeProperty::after {
     content: " (Data Property)";
 }

 subclass::before {
     content: "Subclass of: ";
     font-weight: bold;
 }

 domain::before {
     content: "Domain: ";
     font-weight: bold;
 }

 range::before {
     content: "Range: ";
     font-weight: bold;
 }

 subproperty::before {
     content: "Subproperty of: ";
     font-weight: bold;
 }


 </style>
  </head>
  <body>
  $body$
  </body>
</html>
